<p>Hello {{username}},</p>
<p>We received a request to reset your password. Click the link below to reset your password:</p>
<a href="{{resetLink}}">{{resetLink}}</a>
<p>If you didn't request a password reset, you can ignore this email.</p>